$black:                                            #000;
$white:                                            #fff;

$deep-gray:                                        #ccc;
$shallow-gray:                                     #eee;

$deep-blue:                                     #59c2e6;

$primary-color:                              $deep-blue;

// font
$default-font-color:                             $black;
$active-font-color:                          $deep-blue;
$disable-font-color:                      $shallow-gray;

// border
$default-border-color:                       $deep-gray;
$active-border-color:                        $deep-blue;
$disable-border-color:                       $deep-gray;

// background
$default-background-color:                       $white;
$active-background-color:                    $deep-blue;
$disable-background-color:                $shallow-gray;
