@import "./colors";

/*
 * @colors
 */

// icon
$icon-default-fill-color:                                       $default-font-color;

// radio
$radio-default-border-color:                                  $default-border-color;
$radio-active-border-color:                                    $active-border-color;
$radio-disable-border-color:                                  $disable-border-color;

$radio-default-background-color:                          $default-background-color;
$radio-active-background-color:                           $default-background-color;
$radio-disable-background-color:                          $disable-background-color;

$radio-active-dot-color:                                   $active-background-color;
$radio-disable-dot-color:                                                $deep-gray;

// button

/*
 * @variables
 */

$max-z-index: 9999999;
